<ul class="nav nav-pills abel-font font-22 col-xs-12 abel-font no-padding tabs-selection" role="tablist">
  <li class="nav-item">
    <a class="nav-link blue-color active" href="#all" role="tab" data-toggle="tab" data-target="#all">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link blue-color" data-target="#video" href="#video" role="tab" data-toggle="tab">Video</a>
  </li>
  <li class="nav-item">
    <a class="nav-link blue-color" data-target="#articles" href="#articles" role="tab" data-toggle="tab">Articles / Images</a>
  </li>
    <li class="nav-item">
    <a class="nav-link blue-color" data-target="#telemundo" href="#telemundo" role="tab" data-toggle="tab">Telemundo</a>
  </li>
</ul>
<div class="spacer-md col-xs-12"></div>
<div class="col-xs-12 no-padding">
  <span class="abel-font font-22 blue-color text-uppercase searching-text"></span>
</div>
<div class="spacer-md col-xs-12"></div>
<!-- Tab panes -->
<div class="tab-content col-xs-12 no-padding abel-font">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <%= render "list" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="video">
    <%= render "list" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="articles">
    <%= render "list" %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="telemundo">
    <%= render "list" %>
  </div>
</div>
