<ul class="nav nav-inline abel-font font-32 col-xs-12 no-padding tabs-selecton">
  <li class="nav-item">
    <a class="nav-link blue-color active" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link blue-color" href="#">Video</a>
  </li>
  <li class="nav-item">
    <a class="nav-link blue-color" href="#">Image</a>
  </li>
  <li class="nav-item">
    <a class="nav-link blue-color" href="#">Article</a>
  </li>
</ul>
