<div id="" class="col-xs-12">
  <form id="form_1" class="col-xs-12 no-padding" action="" autocomplete="on">
  	
		<div class="input-group">
			<span class="input-group-addon fa fa-search display-table-cell search-button" aria-hidden="true"></span>
			<input type="text" class="form-control search-input-text" placeholder="Search" aria-describedby="basic-addon1">
		</div>
  	
  </form>
</div>
