<div id="wrap" class="col-xs-12">
  <form id="search_form" class="col-xs-12 no-padding" action="" autocomplete="on">
  	<input id="search" name="search" type="text" placeholder="Search">
  	<input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>
