<div class="card-columns">
  <div class="card custom-card">
    <img class="card-img-top img-fluid" src="https://aos.iacpublishinglabs.com/question/aq/1400px-788px/pandas-live_64dff22c2fe56e9.jpg?domain=cx.aos.ask.com" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title font-18 dark-blue-color">Card title that wraps to a new line</h4>
      <p class="card-text red-color font-22">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  
  <div class="card custom-card">
    <img class="card-img-top img-fluid" src="https://aos.iacpublishinglabs.com/question/aq/1400px-788px/pandas-live_64dff22c2fe56e9.jpg?domain=cx.aos.ask.com" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
  <div class="card custom-card">
    <img class="card-img img-fluid" src="https://aos.iacpublishinglabs.com/question/aq/1400px-788px/pandas-live_64dff22c2fe56e9.jpg?domain=cx.aos.ask.com" alt="Card image">
  </div>
  
</div>
