<div class="card-columns">
	<% 3.times do |r| %>
  <div class="card custom-card">
    <img class="card-img-top img-fluid" src="https://aos.iacpublishinglabs.com/question/aq/1400px-788px/pandas-live_64dff22c2fe56e9.jpg?domain=cx.aos.ask.com" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title font-18 dark-blue-color text-uppercase">Photo/ Video/Article</h4>
      <p class="card-text red-color font-22">Text Description</p>
    </div>
    
		<div class="list-group text-center text-uppercase options-block">
		  <a href="#" class="list-group-item blue-color option-btn font-18 ">Options</a>
		  <a href="#" class="list-group-item blue-color font-18">Add to video</a>
		  <a href="#" class="list-group-item blue-color font-18">Read More</a>
		  <a href="#" class="list-group-item blue-color font-18">Find more like this</a>
		</div>    
  </div>
  <% end %>
</div>
