 <%= render "video_view_section" %>
<div class="col-xs-12 selected-section no-padding">
  <%= render "selected_post" %>
</div>
  <hr class="selected-hr col-xs-12 no-padding">
<button type="button" class="btn btn-danger btn-lg btn-block create-video">CREATE VIDEO</button>
