<div class="player">
  <%= image_tag("giphy.gif") %>
</div>

<hr>

  <ul>
    <li> Sample item 1 <button type="button" name="button"> X </button>
</li>
    <li> Sample item 2 </li>
    <li> Sample item 3 </li>
  </ul>

<hr>

<button type="button" class="btn btn-primary btn-lg btn-block">  CREATE VIDEO</button>
