<div class="player">
  <%= image_tag("giphy.gif") %>
</div>

<hr>

<div class="container scroll">

  <div class="media dashed-border">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" src="..." alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body media-middle links">
      <p> Sample item 1 </p>
    </div>
    <div class="media-right media-middle">
      <button type="button" name="button" class="btn btn-primary btn-sm close-btn"> X </button>
    </div>
  </div>

  <div class="media dashed-border">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" src="..." alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body media-middle links">
      <p> Sample item 1 </p>
    </div>
    <div class="media-right media-middle">
      <button type="button" name="button" class="btn btn-primary btn-sm close-btn"> X </button>
    </div>
  </div>

  <div class="media dashed-border">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" src="..." alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body media-middle links">
      <p> Sample item 1 </p>
    </div>
    <div class="media-right media-middle">
      <button type="button" name="button" class="btn btn-primary btn-sm close-btn"> X </button>
    </div>
  </div>

</div>


<hr>

<button type="button" class="btn btn-danger btn-lg btn-block create-video">  CREATE VIDEO</button>
