<div class="col-xs-12 selected-section no-padding">
  <div class="media selected-block clone-template">
    <div class="media-left media-middle">
      <a href="#" class="">
        <img class="media-object max-width-120" src="" alt="Generic placeholder image">
      </a>
    </div>
    <div class="media-body media-middle links">
      <p class="text-title"></p>
    </div>
    <div class="media-right media-middle">
      <button type="button" name="button" class="btn btn-primary btn-sm close-btn"> X </button>
    </div>
  </div>
</div>
