<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card share-card-style">
    <div class="card-header share-video" role="tab" id="headingOne">
      <h5 class="mb-0 text-center">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="share-link-btn">
          SHARE YOUR VIDEO
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block  blue-background">



        <ul>
          <li><i class="fa fa-facebook-official font-55" aria-hidden="true"></i></li>
          <li><i class="fa fa-instagram font-55" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter-square font-55" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
