<div class="form-group col-xs-12 no-padding">
  <div class="media display-table height-280 bg-eee">
    <div class="media-body media-middle table-cell color-ccc text-center text-uppercase font-32">Create your Video</div>
  </div>
</div>
<hr class="col-xs-12 no-padding">
