<div class="container-fluid height-100">
	<div class="row padding-y">
		<div class="col-xs-12">
			<div class="col-xs-6 custom-height-100 left-section">
				<%= render "left_side" %>
			</div>
			<div class="col-xs-6 custom-height-100 right-section border-left-1">
				<%= render "right_side" %>
			</div>	
		</div>

	</div>
</div>
