// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//=require form_search

@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen');


.height-100 {
	height: 100vh;
}

.custom-height-100 {
	height: calc(100vh - 50px);
}

.border-right-1 {
	border-right: 1px solid #CCC;
}

.padding-15 {
	padding: 15px;
}

.abel-font {
	font-family: "Abel";
}

.oxygen-font {
	font-family: "Oxygen";
}

.padding-y {
  padding-top: 25px;
  padding-bottom: 25px;
}
