// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//=require form_search

@import url('https://fonts.googleapis.com/css?family=Abel|Oxygen');


.height-100 {
	height: 100vh;
}

.custom-height-100 {
	height: calc(100vh - 50px);
}

.border-right-1 {
	border-right: 1px solid #CCC;
}

.padding-15 {
	padding: 15px;
}

.abel-font {
	font-family: "Abel";
}

.oxygen-font {
	font-family: "Oxygen";
}

.padding-y {
  padding-top: 15px;
  padding-bottom: 15px;
}

.player {
  height: auto;
  width: 85%;
}

.media {
  text-transform: uppercase;
  font-family: "Abel";
  letter-spacing: 1px;
}


.create-video {
  border-radius: 2px;
  font-family: "Abel";
  letter-spacing: 1px;
  background-color: #FE5F55;
  border-color: #FE5F55
}

.dashed-border {
  border-bottom-style: dashed;
  border-width: 1px;
  border-color: #CCC;
  padding-bottom: 10px;
  padding-top: 10px;
}

.scroll {
  max-height: 270px;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.close-btn {
  background-color: lightgrey;
  border-color: lightgrey;
  color: black;
  border-radius: 1px;
  &:hover {
    background-color: grey;
    border-color: grey;
    color: black;
  }
  &:active {
    background-color: grey !important;
    border-color: grey !important;
    outline: 0 !important;
  }
  &:focus {
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
    outline: 0;
  }
}

.links {
  color: #577399;
  &:hover {
    color: #014c8c;
  }
}
